<section>
  <div class="container">
    <div class="page-header">
      <h2>

        {{#if session.user.isAdmin}}
          <div class="right">
            {{#md-btn-dropdown buttonClass="dropdown-button" constrainWidth="false"}}
              <li>{{#link-to 'catalog.edit'}}Edit{{/link-to}}</li>
            {{/md-btn-dropdown}}
          </div>
        {{/if}}

        {{model.name}}
      </h2>
    </div>

    Year: {{model.year}}
  </div>
</section>