<section>
  <div class="container">
    <div>
      <div class="page-header">
        <h2>Edit Modelpage</h2>
      </div>
    </div>
    <div class="row">
      {{modelpage-form model=model catalogs=catalogs update="update" cancel="cancel"}}
    </div>
  </div>
</section>
