<section>
  <div class="container">
    <div class="page-header">
      <h2>
        {{model.model}} <small>(suggestions)</small>
        {{modelhit-nav newModelpage='newModelpage'}}
        <ul class="right hide-on-med-and-down">
          <li>{{#link-to 'modelhit.index'}}<i class="material-icons">picture_in_picture</i>{{/link-to}}</li>
        </ul>
      </h2>
    </div>


    <div class="row">
      <div class="col s12">
        {{catalog-pages authKey=session.authKey modelhit=model catalogs=catalogs action="addSugestionAsPage"}}
      </div>
    </div>
  </div>
</section>
