<section>
  <div class="container">
    <div class="page-header">
      <h2>
        {{model.model}}
        {{#if session.user.isAdmin}}
          {{modelhit-nav newModelpage='newModelpage'}}
        {{/if}}
        <ul class="right hide-on-med-and-down">
          <li>{{#link-to 'modelhit.suggestions'}}<i class="material-icons">view_module</i>{{/link-to}}</li>
        </ul>
      </h2>
    </div>
    <div class="row">
      <div class="col s12">
        {{#md-card-collapsible}}
          {{#md-collapsible title=model.name}}
            <div class="row">
              {{modelhit-form model=model}}
            </div>
          {{/md-collapsible}}
        {{/md-card-collapsible}}
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        {{modelpages-cards authKey=session.authKey model=model.modelpages}}
      </div>
    </div>
  </div>
</section>
