<section>
  <div class="container">
    <div>
      <div class="page-header">
        <h2>Edit Model</h2>
      </div>
    </div>
    <div class="row">
      {{modelhit-form readonly=false model=model action="update"}}
    </div>
  </div>
</section>
