{{#md-btn-dropdown buttonClass="dropdown-button" constrainWidth="false"}}
  <li>{{#link-to 'modelhit.edit'}}Edit{{/link-to}}</li>
  <li><a {{action 'delete' model}}>Delete</a></li>
  <li>{{#link-to 'modelhit.suggestions'}}Suggestions{{/link-to}}</li>
  <li>{{#link-to 'modelhits.new'}}New modelhit{{/link-to}}</li>
{{/md-btn-dropdown}}